# Flask
SECRET_KEY=your_secret_key
FLASK_DEBUG=True
UPLOAD_FOLDER=data/uploads

# PostgreSQL Configuration
POSTGRES_USER=aqua
POSTGRES_PASSWORD=password
POSTGRES_DB=aqua_tests_db
POSTGRES_HOST=localhost # For app running outside docker network, connecting to localhost-exposed port
POSTGRES_PORT=5432

# Database
# For Docker, the app will connect to the 'postgres' service name.
# For local dev, it might connect to localhost if PostgrsSQL is run locally or via docker-compose port mapping.
# The config.py prioritizes os.environ.get('DATABASE_URL').
# Default to PostgreSQL connection. For local SQLite, comment this out and uncomment the SQLite line.
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}
# DATABASE_URL=sqlite:///app.db # Alternative for local development without PostgreSQL

# Admin Credentials
ADMIN_USERNAME=admin
ADMIN_PASSWORD=secret
